<template>
    <imagecard :posts="posts" :username="username"/>
</template>

<script>
import imagecard from './components/imagecard'

export default {
  name: 'App',
  components: {
    imagecard
  },
  data() {
      return {
          username: 'koristrange',
          posts: [
              {'title': 'fucking hell!', 'body':'it didn\'t have to be like this'},
              {'title': 'E D\'s what E D\'s', 'body':'it really do be like that sometimes'}
          ]
      }
  },
  created() {
    
  }
}
</script>

<style>
body {
    background-color: black;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
