<template>
    <div @click="openPost(p.title)" class="card" v-for="(p, index) in posts" :key="index">
        <h3>{{p.title}}</h3>
        <p>{{p.body}}</p>
        <p id="sign">{{ signed }}</p>
    </div>
</template>

<script>
export default {
    name: 'imagecard',
    props: {
        posts: Array,
        username: String
    },
    data() {
      return {
          
      }
    },
    computed: {
        signed() {
            let now = new Date().toDateString()
            return (`@${this.username} - ${now}`)
        }
    },
    methods: {
        openPost(title) {
            window.location.href = title
        }
    }
}
</script>

<style scoped>
.card {
    background-color: maroon;
    color: white;
    border: black 1px solid;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
}
#sign {
    font-style: italic
}
</style>

